# mongo volume
mongo-volume/

# pycache
__pycache__

# datasets
datasets/

# jupyter-notebook checkpoints
.ipynb_checkpoints/

# scraper api key
secret.env

# node module
node_modules/

# package-lock.json
package-lock.json